/* BOOTSTRAP */

@import "variables";

@import "../../vendor/bootstrap/scss/variables";
@import "../../vendor/bootstrap/scss/mixins";

@import "../../vendor/bootstrap/scss/normalize";
@import "../../vendor/bootstrap/scss/print";

@import "../../vendor/bootstrap/scss/reboot";
@import "../../vendor/bootstrap/scss/type";
@import "../../vendor/bootstrap/scss/images";
@import "../../vendor/bootstrap/scss/code";
@import "../../vendor/bootstrap/scss/grid";
@import "../../vendor/bootstrap/scss/tables";
@import "../../vendor/bootstrap/scss/forms";
@import "../../vendor/bootstrap/scss/buttons";

@import "../../vendor/bootstrap/scss/animation";
@import "../../vendor/bootstrap/scss/dropdown";
@import "../../vendor/bootstrap/scss/button-group";
@import "../../vendor/bootstrap/scss/input-group";
@import "../../vendor/bootstrap/scss/custom-forms";
@import "../../vendor/bootstrap/scss/nav";
@import "../../vendor/bootstrap/scss/navbar";
@import "../../vendor/bootstrap/scss/card";
@import "../../vendor/bootstrap/scss/breadcrumb";
@import "../../vendor/bootstrap/scss/pagination";
@import "../../vendor/bootstrap/scss/tags";
@import "../../vendor/bootstrap/scss/jumbotron";
@import "../../vendor/bootstrap/scss/alert";
@import "../../vendor/bootstrap/scss/progress";
@import "../../vendor/bootstrap/scss/media";
@import "../../vendor/bootstrap/scss/list-group";
@import "../../vendor/bootstrap/scss/responsive-embed";
@import "../../vendor/bootstrap/scss/close";

@import "../../vendor/bootstrap/scss/modal";
@import "../../vendor/bootstrap/scss/tooltip";
@import "../../vendor/bootstrap/scss/popover";
@import "../../vendor/bootstrap/scss/carousel";

@import "../../vendor/bootstrap/scss/utilities";

/* FONT AWESOME */

$fa-font-path: '../../vendor/font-awesome/fonts';

@import "../../vendor/font-awesome/scss/variables";
@import "../../vendor/font-awesome/scss/path";

/* THEME CORE */

@import "mixins";

@import "wordpress-classes";
@import "general";
@import "content";

body {
	padding-top: $spacer;
}

.site-header,
.site-footer {
	text-align: center;
}

.navbar-nav {
	display: inline-block;
}

.site-title a {
	&:before {
		margin-right: 10px;
		@include fa-icon(1rem);
		content: $fa-var-universal-access;
	}

	&:hover {
		text-decoration: none;
	}
}

.screen-reader-check-form {
	margin: 3rem auto 5rem;
	max-width: 48rem;

	h2,
	.switch-link-wrap {
		margin-bottom: 2rem;
		text-align: center;
	}

	#html {
		font-family: $font-family-monospace;
	}

	.advanced-options {
		.card-header {
			margin-bottom: 0;
			border-bottom: 0;
			padding: 0.5rem 1rem;
			font-weight: bold;
		}

		.card-block {
			padding: 0.75rem 1rem;
			font-size: 0.8rem;
			border-top: 1px solid $card-border-color;
		}

		.advanced-options-toggle {
			float: right;

			&:hover,
			&:focus {
				text-decoration: none !important;
			}

			&:before {
				@include fa-icon(1rem);
				content: $fa-var-arrow-down;
			}
		}
	}
}

.results {
	margin-bottom: 3rem;

	.card-header {
		margin-bottom: 0;

		.src-loader {
			display: none;
			float: right;
		}
	}

	.card-block {
		> ul {
			margin-bottom: 0;
		}
	}

	.result {
		display: block;
		margin-bottom: 1rem;
		border: 2px solid $card-border-color;

		&:last-child {
			margin-bottom: 0;
		}

		.result-inner {
			padding: 0.5rem 1rem;

			> *:first-child {
				margin: -0.5rem -1rem 0.5rem;
				padding: 0.5rem 1rem;
				border-bottom: 2px solid $card-border-color;
				background-color: $card-cap-bg;
			}

			> *:last-child {
				margin-bottom: 0 !important;
			}
		}

		&.result-success {
			border-color: $state-success-border;

			.result-inner > *:first-child {
				color: $state-success-text;
				border-color: $state-success-border;
				background-color: $state-success-bg;
			}
		}

		&.result-info {
			border-color: $state-info-border;

			.result-inner > *:first-child {
				color: $state-info-text;
				border-color: $state-info-border;
				background-color: $state-info-bg;
			}
		}

		&.result-warning {
			border-color: $state-warning-border;

			.result-inner > *:first-child {
				color: $state-warning-text;
				border-color: $state-warning-border;
				background-color: $state-warning-bg;
			}
		}

		&.result-danger {
			border-color: $state-danger-border;

			.result-inner > *:first-child {
				color: $state-danger-text;
				border-color: $state-danger-border;
				background-color: $state-danger-bg;
			}
		}

		.code-snippet {
			width: 100%;
			padding: 0.25rem 0.5rem;
			font-family: $font-family-monospace;
			color: #aa0000;
			background-color: #eeeeee;
		}
	}
}

.custom-logo {
	max-width: 50px;

	@media (min-width: map-get($grid-breakpoints, 'md')) {
		position: absolute;
		top: 0;
		right: 3rem;
		max-width: 100%;

		.admin-bar & {
			top: 32px;
		}
	}
}

.src-loader {
	-webkit-animation: src-spin 1s infinite steps(8);
	        animation: src-spin 1s infinite steps(8);

	&:before {
		@include fa-icon(1rem);
		content: $fa-var-spinner;
	}
}

@-webkit-keyframes src-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes src-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
